@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Ibarra+Real+Nova:ital@1&family=Roboto+Slab:wght@300&display=swap")
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 50px;
	background-position: center;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background-position: center;
}

a {
  text-decoration:none ;

}